{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <p>Please fill out the form below to donate to the development of this site</p>
                <form action="{% url 'donate' %}" method="POST" id='donation-form'>
                    {% csrf_token %}
                    <fieldset class="mb-2">
                        <legend class="fieldset-label small">Details</legend>
                        {{ donation_form.full_name | as_crispy_field }}
                        {{ donation_form.email | as_crispy_field }}
                        {{ donation_form.donation_amount | as_crispy_field }}
                    </fieldset>
                    <fieldset class="mb-2">
                        <legend class="fieldset-label small">Payment</legend>
                        <div class="mb-2" id="card-element"></div>
                        <div class="mb-2 text-danger" id="card-errors"></div>
                    </fieldset>
                    <div class="submit-button-container mt-4 mb-2 text-right">
                        <button id="submit-button" class="btn btn-black">
                            <span>Donate <i class="fas fa-donate"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}