{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h2 class="heading-font text-center">Donation Successful!</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row text-center">
            <div class="col-12">
                <p>Thank you {{ donation.full_name }} for donating to the development of the site!</p>
                <p>Your card has been charged {{ donation.donation_amount }}!</p>
            </div>
        </div>
    </div>
{% endblock %}