{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-lg-8 mb-5">
                <div class="card mb-3">
                    <div class="card-header bg-red">
                        <h4 class="heading-font mb-0 text-white">Redpoint:</h4>
                    </div>
                    <div class="card-body">
                        <p class="mb-0">"A sport climbing term to describe free-climbing a route on lead, after pre-practice of the route"</p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header bg-blue">
                        <h4 class="heading-font mb-0 text-white">Bluepoint:</h4>
                    </div>
                    <div class="card-body">
                        <p class="mb-0">"A belaying term to describe belaying someone on a successful redpoint ascent. True climbers and belayer know this deserves more credit than a redpoint."</p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <p>A hero of the bluepointing game:</p>
                            <iframe class="youtube-iframe" frameborder="0"
                            src="https://www.youtube.com/embed/NJHVgkchcbw">
                            </iframe>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-5">
                <ul class="list-group">
                    <li class="list-group-item bg-blue text-white text-center heading-font">Latest Bluepoints</li>
                    {% for bluepoint in recent_bluepoints %}
                        <a href="{% url 'logbook' user_id=bluepoint.user.user_id %}">
                            <li class="list-group-item text-black">
                                <div class="row">
                                    <div class="col-8">{{ bluepoint.user }}</div>
                                    <div class="col-4 text-right">{{ bluepoint.grade }}</div>
                                </div>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}