{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-lg-8 mb-5">
                <div class="accordion mb-4" id="definitions-accordion">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingRedpoint">
                        <button class="accordion-button bg-red text-white heading-font" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRedpoint" aria-expanded="true" aria-controls="collapseRedpoint">
                          Define: Redpoint
                        </button>
                      </h2>
                      <div id="collapseRedpoint" class="accordion-collapse collapse show" aria-labelledby="headingRedpoint" data-bs-parent="#definitions-accordion">
                        <div class="accordion-body">
                            A sport climbing term to describe free-climbing a route on lead, after pre-practice of the route.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingBluepoint">
                          <button class="accordion-button bg-blue text-white heading-font" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBluepoint" aria-expanded="true" aria-controls="collapseBluepoint">
                            Define: Bluepoint
                          </button>
                        </h2>
                        <div id="collapseBluepoint" class="accordion-collapse collapse" aria-labelledby="headingBluepoint" data-bs-parent="#definitions-accordion">
                          <div class="accordion-body">
                            A belaying term to describe belaying someone on a successful redpoint ascent. True climbers and belayer know this deserves more credit than a redpoint.
                          </div>
                        </div>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <p>A hero of the bluepointing game:</p>
                            <iframe class="youtube-iframe" frameborder="0"
                            src="https://www.youtube.com/embed/NJHVgkchcbw">
                            </iframe>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-5">
                <ul class="list-group">
                    <li class="list-group-item bg-blue text-white text-center heading-font">Latest Bluepoints</li>
                    {% for bluepoint in recent_bluepoints %}
                        <a href="{% url 'logbook' username=bluepoint.user %}">
                            <li class="list-group-item text-black">
                                <div class="row">
                                    <div class="col-8">{{ bluepoint.user }}</div>
                                    <div class="col-4 text-right">{{ bluepoint.grade }}</div>
                                </div>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}