{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h2 class="heading-font text-center">Log Bluepoint</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="text-center"></p>
                <form action="{% url 'donate' %}" method="POST" id='donation-form'>
                    {% csrf_token %}
                    <div class="submit-button-container mt-4 mb-2 text-center">
                        <button id="submit-button" class="btn btn-black">
                            <span>Log Bluepoint <i class="fas fa-add"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}