{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h2 class="heading-font text-center">{% if my_logbook %}My Logbook{% else %}{{ logbook }}{% endif %}</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 col-lg-4">
                {{ logbook }}
            </div>
            <div class="col-12 col-lg-8">
                <ul>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}