{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h2 class="heading-font text-center">{% if my_logbook %}My Logbook{% else %}{{ logbook }}'s Logbook{% endif %}</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 col-lg-4">
                <h4 class="heading-font text-center">Pyramid</h4>
                <hr>
                {% for grade, values in numbers_of_each_grade.items %}
                    <div class="row">
                        <div class="col-2 text-right">{{ grade }}:</div>
                        <div class="col-10">
                            <div class="progress">
                                <div class="progress-bar bg-blue w-{{ values.percentage_of_max }}" role="progressbar" aria-valuenow="{{ values.number_of_bluepoints }}" aria-valuemin="0" aria-valuemax="{{ max_number_of_grade }}" >{{ values.number_of_bluepoints }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <hr class="lg-hide">
            </div>
            <div class="col-12 col-lg-8 text-center">
                <h4 class="heading-font">Logs</h4>
                <hr>
                <ul class="list-group">
                    {% for grade, bluepoints in sorted_bluepoints.items %}
                        <li class="list-group-item bg-blue text-white text-center">{{ grade }}</li>
                        {% for bluepoint in bluepoints %}
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-12 col-lg-3 text-center">
                                        <h5 class="mb-0 font-bold">{{ bluepoint.route_name }}</h5>
                                        <p>{{ bluepoint.crag_name }}</p>
                                    </div>
                                    <div class="col-12 {% if my_logbook %}col-lg-6{% else %}col-lg-9{% endif %} text-center">
                                        <p>{{ bluepoint.comment }}</p>
                                    </div>
                                    {% if my_logbook %}
                                    <div class="col-12 col-lg-3 text-center">
                                        <a href="{% url 'edit_bluepoint' bluepoint.id %}" class="btn btn-small mb-lg-2">Edit</a>
                                        <a href="{% url 'delete_bluepoint' bluepoint.id %}" class="btn btn-small btn-danger">Delete</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
                <a href="{% url 'add_bluepoint' %}" class="btn mt-4 mb-4 btn-blue"><i class="fas fa-plus"></i> Log New Bluepoint</a>
            </div>
        </div>
    </div>
{% endblock %}