{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h2 class="heading-font text-center">Search Results for "{{ query }}"</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                {% if logbooks|length == 0 %}
                    <p class="text-center">No logbooks found matching that query!</p>
                {% else %}
                    <ul class="list-group text-center">
                        {% for logbook in logbooks %}
                            <a href="{% url 'logbook' username=logbook.user %}">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-{% if logbook.max_bluepoint %}6{% else %}12{% endif %}">
                                            {{ logbook.user }}
                                        </div>
                                        {% if logbook.max_bluepoint %}
                                            <div class="col-6">
                                                Max Bluepoint: {{ logbook.max_bluepoint }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </li>
                            </a>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}