@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

html {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
}

/* ----------- Colours --*/

.bg-blue {
    background-color: #163a9c;
}

.text-white {
    color: #fff;
}

/*----------- Fonts --*/

.heading-font {
    font-family: "Nunito", sans-serif;
}

.font-bold {
    font-weight: bold;
}

/*------------ Navbar --*/

.navbar-brand {
    padding: 0;
    line-height: 40px;
    font-size: 25px;
    vertical-align: middle;
}

.navbar-toggler {
    border-radius: 0;
}

.navbar-toggler:focus {
    outline: none;
}

/*------------ Messages --*/

ul.messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.messages li {
    text-align: center;
    color: white;
    padding: 5px 0;
}

.bg-error {
    background-color: #dc3545!important;
}

/*------------ Buttons --*/

button,
button.btn,
a.btn {
    background-color: #757575;
    color: white;
    border-radius: 25px;
    height: 50px;
    font-size: 20px;
    padding: 6px 20px;
    text-decoration: none;
    border: none;
}

button:hover,
button.btn:hover,
a.btn:hover {
    color: white;
    background-color: #494949;
}

.btn-blue {
    background-color: #163a9c;
}

.btn.btn-small {
    height: 30px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 15px;
}

/*------------ Page Header --*/

hr {
    border-color: rgba(0,0,0,.4);
}

/*------------ Media Queries --*/

@media only screen and (min-width: 992px) {

    .navbar {
        height: 60px;
    }

}